.header__logo {
  max-width: 142px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    max-width: 103.74px;
    padding-bottom: 30.6px;
    margin-left: 27px;
  }
}
